#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */

  text-align: center;
}
/* body {
  background: #f3f3f3;
} */

.card {
  background: white;
  border: 1px solid #777;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  max-width: 400px;
  padding: 1.5rem;
  margin: 0 auto;
}

.card + .card {
  margin-top: 2rem;
}

.card .body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.name {
  margin: 0;
  margin-bottom: 2rem;
}

/* .body {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem 0.5rem;
  padding: 0 1rem;
} */

.label {
  font-weight: bold;
}

.header {
  border-bottom: 1px solid #efefef;
  padding-bottom: 1rem;
  padding-inline: 2rem;
  padding-top: 2rem;
}

.footer {
  border-top: 1px solid #efefef;
  padding-top: 1rem;
  margin-top: 1rem;
  padding-inline: 2rem;
}

main {
  padding-inline: 2rem;
}
